:root {
  --main-dark: rgba(20,20,20);
  --main-deep-dark: rgba(0,0,0);
  --main-grey: rgba(153,153,153);
  --main-green: rgba(0,248,3);
  --main-green-hover: rgba(1,50,32);
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing:antialiased;
  background-color: #fff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #fff;

}